<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

<head>

    <title>チケなう</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <link rel="stylesheet" href="ttk.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.ja.min.js"></script>
    <script type="text/javascript" src="jquery_bottom.js"></script>
    <script type="text/javascript" src="ttk.js"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="shortcut icon" href="favicon.png" type="image/png" />

</head>

<body>
    <div id="logo">
        <a href="/" class="logo-img">チケなう</a>
    </div>
    <h1>チケなうは全国のチケットをTwitterの情報で検索するサービスです</h1>

    <hr />
    <header></header>
    <section>
        <div class="container">
            <div class="panel panel-default search-box">
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="col-sm-4">
                            <div>
                                <label class="">アーティスト名</label>
                            </div>
                            <div>
                                <input type="text" class="form-control" id="artist" placeholder="探しているアーティスト名を入力" value="<%=data.request.artist %>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="">場所</label>
                            <input type="text" class="form-control" id="place" placeholder="都道府県、会場名を入力" value="<%=data.request.place %>">
                        </div>
                        <div class="col-sm-2">
                            <label class="">日付</label>
                            <input type="text" class="form-control" id="date" placeholder="日付を選択" value="<%=data.request.date %>">
                        </div>
                        <div class="col-sm-2">
                            <label class="">　</label>
                            <button id="search" class="btn form-control btn-search"><span class="glyphicon glyphicon-search"></span>検索</button>
                        </div>
                        <input type="hidden" id="keyword" value="<%=data.request.keyword %>">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
        <div class="left col-sm-8">
            <div class="row">
                <div id="search-query">
                    <h4>
                        <%
                            var req=[];
                            for(var i in data.request){
                                if(data.request[i]!=""){
                                    req.push(data.request[i]);
                                }
                            }
//                            console.log(req);
                            if(data.static){
                        %>
                        <%=data.static.name %>のチケット検索結果
                        <%
                            }else if(req.length>0){
                        %>
                        <%=req.join(" ") %>のチケット検索結果
                        <%
                            }
                        %>
                    </h4>
                </div>
                <div id="ad-1" class="ads">
<a href="https://px.a8.net/svt/ejp?a8mat=2TAC5O+5ZIXRM+342Q+BZO4H" target="_blank">
<img border="0" width="468" height="60" alt="" src="https://www26.a8.net/svt/bgt?aid=170123532362&wid=001&eno=01&mid=s00000014525002014000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=2TAC5O+5ZIXRM+342Q+BZO4H" alt="">                    
                </div>
                <div id="search-option">
                    <nav class="navbar navbar-default">
                    	<div class="container-fluid">
                    		<div class="navbar-header">
                    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
                    				<span class="sr-only">Toggle navigation</span>
                    				<span class="icon-bar"></span>
                    				<span class="icon-bar"></span>
                    				<span class="icon-bar"></span>
                    			</button>
                    		</div>
                    		<div class="collapse navbar-collapse" id="navbarEexample">
                    			<ul class="nav navbar-nav navbar-right">
                    				<li class="dropdown" id="status">
                    					<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button">ステータス<span class="caret"></span></a>
                    					<ul class="dropdown-menu" role="menu">
                                                <li role="presentation"><a id="status-dropdown-all" data-category="status" data-value="" href="javascript:void(0)">すべて</a></li>
                                            <!--    <li role="presentation"><a id="status-dropdown-sell" data-category="status" data-value="譲" href="javascript:void(0)">譲るツイート</a></li> -->
                                            <!--    <li role="presentation"><a id="status-dropdown-buy" data-category="status" data-value="求" href="javascript:void(0)">求めるツイート</a></li> -->
                                                <li role="presentation"><a id="status-dropdown-exchange" data-category="status" data-value="交換" href="javascript:void(0)">交換ツイート</a></li>
                    					</ul>
                    				</li>
                    				<li class="dropdown" id="number">
                    					<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button">枚数<span class="caret"></span></a>
                    					<ul class="dropdown-menu" role="menu">
                                                <li role="presentation"><a id="number-dropdown-all" data-category="number" data-value="" href="javascript:void(0)">すべて</a></li>
                                                <li role="presentation"><a id="number-dropdown-1" data-category="number" data-value="1枚" href="javascript:void(0)">1枚</a></li>
                                                <li role="presentation"><a id="number-dropdown-2" data-category="number" data-value="2枚" href="javascript:void(0)">2枚</a></li>
                                                <li role="presentation"><a id="number-dropdown-3" data-category="number" data-value="3枚" href="javascript:void(0)">3枚</a></li>
                                                <li role="presentation"><a id="number-dropdown-4" data-category="number" data-value="4枚" href="javascript:void(0)">4枚</a></li>
                    					</ul>
                    				</li>
                    			</ul>
                    		</div>
                    	</div>
                    </nav>
                </div>
                <div id="messageView">
                    <ol class="stream-items">
                        <% if(!data.tweets.statuses || data.tweets.statuses.length==0){ %>
                        <li>該当するツイートが見つかりませんでした。</li>
                        <% }else{ %>
                        <% for(var i=0;i<data.tweets.statuses.length;i++){
                            var tweet = data.tweets.statuses[i]; %>
                        <li class="stream-item">
                            <div class="tweet">
                                <div class="content">
                                    <div class="stream-item-header">
                                        <a rel="nofollow" href="https://twitter.com/<%=tweet.screen_name %>">
                                            <img class="avatar" src="<%=tweet.user.profile_image_url.replace("http:","https:") %>">
                                            <strong class="fullname"><%=tweet.user.name %></strong>
                                            <span class="screen-name">@<%=tweet.user.screen_name %></span>
                                        </a>
                                        <a class="timeago" rel="nofollow" title="<%=tweet.timeago %>" href="<%=tweet.link%>"><%=tweet.timeago %></a>
                                    </div>
                                    <p class="tweet-text"><%-tweet.text_linked %></p>
                                    <div class="tweet-action">
                                        <a href="https://twitter.com/intent/tweet?in_reply_to=<%=tweet.id_str %>" rel="nofollow" target="_blank"><span class="glyphicon glyphicon-share-alt"></span></a>
                                        <a href="https://twitter.com/intent/retweet?tweet_id=<%=tweet.id_str %>" rel="nofollow" target="_blank"><span class="glyphicon glyphicon-retweet"></span></a>
                                        <a href="https://twitter.com/intent/favorite?tweet_id=<%=tweet.id_str %>" rel="nofollow" target="_blank"><span class="glyphicon glyphicon-heart"></span></a>
                                    </div>
                                <div class="extraction">
                                    <p class="sell"><span class="icon">譲</span><span class="sell-string"><%=tweet.str_sell %></span></p>
                                    <p class="buy"><span class="icon">求</span><span class="buy-string"><%=tweet.str_buy %></span></p>
                                </div>
                            </div>
                        </div><!-- /.tweet -->
                        </li>
                        <% } %>
                        <% } %>
                    </ol>
                </div>
            </div>
            <div class="readmore">
                <button class="btn btn-default">もっと読む</button>
            </div>
            <div id="ad-ft" class="ads">
                <div id="ad-ft1" class="col-sm-6">
                    <a href="https://px.a8.net/svt/ejp?a8mat=2TAALB+7CXWZ6+342Q+62U35" target="_blank">
        <img border="0" width="250" height="250" alt="" src="https://www29.a8.net/svt/bgt?aid=170121503445&wid=001&eno=01&mid=s00000014525001021000&mc=1"></a>
        <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=2TAALB+7CXWZ6+342Q+62U35" alt="">
                </div>
                <div id="ad-ft2" class="col-sm-6">
<a href="https://px.a8.net/svt/ejp?a8mat=2TAALB+7CXWZ6+342Q+62MDD" target="_blank">
<img border="0" width="250" height="250" alt="" src="https://www27.a8.net/svt/bgt?aid=170121503445&wid=001&eno=01&mid=s00000014525001020000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=2TAALB+7CXWZ6+342Q+62MDD" alt="">                </div>
            </div>
            <div class="loading"></div>
        </div>
        <div class="right col-sm-4">
            <div class="row">
               <div id="ad-pd" class="ads">
<a href="https://px.a8.net/svt/ejp?a8mat=2TAC5O+52S3HU+2LQ6+6HES1" target="_blank">
<img border="0" width="250" height="250" alt="" src="https://www24.a8.net/svt/bgt?aid=170123532307&wid=001&eno=01&mid=s00000012147001089000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=2TAC5O+52S3HU+2LQ6+6HES1" alt="">                   
               </div>
               <div id="artist-list">
               <% for(category in data.category){ %>
               <div id="list-<%=category %>">
                   <h4><%=data.category[category] %>のチケット</h4>
                   <ul><% data.ads[category].forEach(function(list){ %>
<!--                       <li><a href="/?artist=<%=list.name%>&keyword=<%=list.keyword%>"><%=list.name %></a></li> -->
                       <li><a href="<%=list.url%>"><%=list.name %></a></li>
                        <% }) %>
                    </ul>
               </div>
               <% } %>
               </div>
             </div>
             <div id="ad-bd" class="ads">
<a href="https://px.a8.net/svt/ejp?a8mat=2TAC5O+5ZIXRM+342Q+BZ8OX" target="_blank">
<img border="0" width="300" height="250" alt="" src="https://www28.a8.net/svt/bgt?aid=170123532362&wid=001&eno=01&mid=s00000014525002012000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=2TAC5O+5ZIXRM+342Q+BZ8OX" alt="">                 
             </div>
        </div>
    </section>
    <footer>
        <div id="copyright">
            Copyright (c) <%=new Date().getFullYear()%> ticketnow All rights reserved.
        </div>
    </footer>
</body>

</html>
